# Import the necessary libraries/modules

In [1]:
import numpy as np
import pandas as pd

# Read the 3 data sets

In [2]:
anime_data= pd.read_csv('anime.csv')
anime_synopsis = pd.read_csv('anime_with_synopsis.csv')
anime_cast = pd.read_csv('anime_producers_studio.csv')

In [3]:
anime_data.head(1)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0

In [4]:
anime_synopsis.head(1)

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."

In [5]:
anime_cast.head(1)

   Anime_id         Title           Producer       Studio
0         1  Cowboy Bebop  ['Bandai Visual']  ['Sunrise']

# Merge the anime_data and anime_synopsis datasets on basis of MAL_ID

In [6]:
anime_data.merge(anime_synopsis,on='MAL_ID').shape

(16214, 39)

In [7]:
anime_data.shape

(17562, 35)

In [8]:
anime_synopsis.shape

(16214, 5)

In [9]:
anime_data = anime_data.merge(anime_synopsis,on='MAL_ID')

In [10]:
anime_data.shape

(16214, 39)

In [11]:
anime_data.head(5)

,MAL_ID,Name_x,Score_x,Genres_x,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1,Name_y,Score_y,Genres_y,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,20688.0,8904.0,3184.0,1357.0,741.0,1580.0,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,5805.0,1877.0,577.0,221.0,109.0,379.0,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,15376.0,5838.0,1965.0,664.0,316.0,533.0,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,5709.0,2920.0,1083.0,353.0,164.0,131.0,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,1068.0,634.0,265.0,83.0,50.0,27.0,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

# Merge the resultant data set with the 3rd data set i.e anime_cast

In [12]:
anime_cast.columns

Index(['Anime_id', 'Title', 'Producer', 'Studio'], dtype='object')

In [13]:
anime_cast.rename(columns={"Anime_id": "MAL_ID"}, inplace=True)

In [14]:
anime_cast.columns

Index(['MAL_ID', 'Title', 'Producer', 'Studio'], dtype='object')

In [15]:
anime_data.merge(anime_cast,on='MAL_ID').shape

(15148, 42)

In [16]:
anime_data.shape

(16214, 39)

In [17]:
anime_cast.shape

(17002, 4)

In [18]:
anime_data = anime_data.merge(anime_cast,on='MAL_ID')

In [19]:
anime_data.shape

(15148, 42)

# Now, we select the useful columns for our recommendation system

In [20]:
anime_data.columns

Index(['MAL_ID', 'Name_x', 'Score_x', 'Genres_x', 'English name',
       'Japanese name', 'Type', 'Episodes', 'Aired', 'Premiered', 'Producers',
       'Licensors', 'Studios', 'Source', 'Duration', 'Rating', 'Ranked',
       'Popularity', 'Members', 'Favorites', 'Watching', 'Completed',
       'On-Hold', 'Dropped', 'Plan to Watch', 'Score-10', 'Score-9', 'Score-8',
       'Score-7', 'Score-6', 'Score-5', 'Score-4', 'Score-3', 'Score-2',
       'Score-1', 'Name_y', 'Score_y', 'Genres_y', 'sypnopsis', 'Title',
       'Producer', 'Studio'],
      dtype='object')

# The columns which we need are MAL_ID,Name_x,Japanese_name,Type,Genres,Producer,Studio,Synopsis

In [21]:
anime_data[['MAL_ID','Name_x','Japanese name','Type','Genres_x','Producer','Studio','sypnopsis']]

,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis
0,1,Cowboy Bebop,カウボーイビバップ,TV,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",['Bandai Visual'],['Sunrise'],"In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,カウボーイビバップ 天国の扉,Movie,"Action, Drama, Mystery, Sci-Fi, Space","['Sunrise', 'Bandai Visual']",['Bones'],"other day, another bounty—such is the life of ..."
2,6,Trigun,トライガン,TV,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",['Victor Entertainment'],['Madhouse'],"Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,"Action, Mystery, Police, Supernatural, Drama, ...",['Bandai Visual'],['Sunrise'],ches are individuals with special powers like ...
4,8,Bouken Ou Beet,冒険王ビィト,TV,"Adventure, Fantasy, Shounen, Supernatural",NaN,['Toei Animation'],It is the dark century and the people are suff...
...,...,...,...,...,...,...,...,...
15143,40938,Hige wo Soru. Soshite Joshikousei wo Hirou.,ひげを剃る。そして女子高生を拾う。,TV,"Drama, Romance",NaN,NaN,Office worker Yoshida has been crushing on his...
15144,40956,Enen no Shouboutai: Ni no Shou,炎炎ノ消防隊 弐ノ章,TV,"Action, Supernatural, Shounen",NaN,NaN,fter his confrontation in the Nether with his ...
15145,40957,Shin Chuuka Ichiban! 2nd Season,真・中華一番!,TV,"Comedy, Shounen",NaN,NaN,Sequel of Shin Chuuka Ichiban .
15146,40957,Shin Chuuka Ichiban! 2nd Season,真・中華一番!,TV,"Comedy, Shounen",NaN,NaN,Sequel of Shin Chuuka Ichiban .
15147,40960,Cheat Kusushi no Slow Life: Isekai ni Tsukurou...,チート薬師のスローライフ～異世界に作ろうドラッグストア～,TV,"Comedy, Fantasy",NaN,NaN,"One day, a corporate slave Reiji, suddenly got..."

In [22]:
anime_data = anime_data[['MAL_ID','Name_x','Japanese name','Type','Genres_x','Producer','Studio','sypnopsis']]

# Let's check for missing values and handle the same

In [23]:
anime_data.isnull().sum()

MAL_ID              0
Name_x              0
Japanese name       0
Type                0
Genres_x            0
Producer         8383
Studio           7590
sypnopsis           4
dtype: int64

In [24]:
anime_data.shape

(15148, 8)

In [25]:
anime_data.dropna(inplace=True)

In [26]:
anime_data.shape

(4464, 8)

In [27]:
anime_data.isnull().sum()

MAL_ID           0
Name_x           0
Japanese name    0
Type             0
Genres_x         0
Producer         0
Studio           0
sypnopsis        0
dtype: int64

In [28]:
# anime_data['Voice Actors'] = np.vectorize(fetch_seiyuus)(anime_data['MAL_ID'])
# # anime_data['Voice Actors'] = anime_data.apply(lambda x: fetch_seiyuus(anime_data['MAL_ID']),axis=1)

# Now for preprocessing, we need to deal with each column one by one

# i) First, let's deal with the type column

In [29]:
anime_data.head(5)

,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis
0,1,Cowboy Bebop,カウボーイビバップ,TV,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",['Bandai Visual'],['Sunrise'],"In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,カウボーイビバップ 天国の扉,Movie,"Action, Drama, Mystery, Sci-Fi, Space","['Sunrise', 'Bandai Visual']",['Bones'],"other day, another bounty—such is the life of ..."
2,6,Trigun,トライガン,TV,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",['Victor Entertainment'],['Madhouse'],"Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,"Action, Mystery, Police, Supernatural, Drama, ...",['Bandai Visual'],['Sunrise'],ches are individuals with special powers like ...
5,15,Eyeshield 21,アイシールド21,TV,"Action, Sports, Comedy, Shounen","['TV Tokyo', 'Nihon Ad Systems', 'TV Tokyo Mus...",['Studio Gallop'],Sena is like any other shy kid starting high s...

In [30]:
anime_data['Type'].value_counts()

TV         2497
OVA         662
Movie       558
Special     481
ONA         201
Music        64
Unknown       1
Name: Type, dtype: int64

# Here, we don't need the types: Special,ONA,Music and Unknown. So, we can drop those rows

In [31]:
anime_data.shape

(4464, 8)

In [32]:
anime_data = anime_data[anime_data.Type != 'Music']
anime_data = anime_data[anime_data.Type != 'ONA']
anime_data = anime_data[anime_data.Type != 'Special']
anime_data = anime_data[anime_data.Type != 'Unknown']

In [33]:
anime_data.shape

(3717, 8)

# ii) Now, we need another feature called Voice Actors to make our recommendation system better, we can use web scraping to achieve the same

In [34]:
import requests
import re
import time
from bs4 import BeautifulSoup
def fetch_seiyuus(MAL_ID):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    url = f'https://myanimelist.net/anime/{MAL_ID}'
    time.sleep(5)
    webpage=requests.get(url,headers=headers).text
    soup = BeautifulSoup(webpage,'lxml')
    seiyuu_elements = soup.find_all("a", {"href":re.compile("https://myanimelist.net/people")})
    seiyuus = []
    cnt = 0
    for i in seiyuu_elements:
        if(cnt%2!=0 and cnt!=0):
            seiyuus.append(i.text.replace(",", "").replace(" ", ""))
        cnt+=1
    cnt = 0
    cnt = seiyuus.count('\n\n')
    for i in range(cnt):
        seiyuus.remove('\n\n')
    return seiyuus

In [35]:
# anime_data['Voice Actors'] = anime_data['MAL_ID'].map(lambda x: fetch_seiyuus(x)) 
# anime_data.to_csv('VAs.csv')

In [36]:
anime = pd.read_csv('VAs.csv')

In [37]:
anime.head(5)

,Unnamed: 0,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis,Voice Actors
0,0,1,Cowboy Bebop,カウボーイビバップ,TV,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",['Bandai Visual'],['Sunrise'],"In the year 2071, humanity has colonized sever...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."
1,1,5,Cowboy Bebop: Tengoku no Tobira,カウボーイビバップ 天国の扉,Movie,"Action, Drama, Mystery, Sci-Fi, Space","['Sunrise', 'Bandai Visual']",['Bones'],"other day, another bounty—such is the life of ...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."
2,2,6,Trigun,トライガン,TV,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",['Victor Entertainment'],['Madhouse'],"Vash the Stampede is the man with a $$60,000,0...","['OnosakaMasaya', 'HayamiShow', 'YukinoSatsuki..."
3,3,7,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,"Action, Mystery, Police, Supernatural, Drama, ...",['Bandai Visual'],['Sunrise'],ches are individuals with special powers like ...,"['WatanabeAkeno', 'TakewakaTakuma', 'YuukiHiro..."
4,5,15,Eyeshield 21,アイシールド21,TV,"Action, Sports, Comedy, Shounen","['TV Tokyo', 'Nihon Ad Systems', 'TV Tokyo Mus...",['Studio Gallop'],Sena is like any other shy kid starting high s...,"['TamuraAtsushi', 'IrinoMiyu', 'NaganoKouichi'..."

In [38]:
anime.drop("Unnamed: 0",axis=1)

,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis,Voice Actors
0,1,Cowboy Bebop,カウボーイビバップ,TV,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",['Bandai Visual'],['Sunrise'],"In the year 2071, humanity has colonized sever...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."
1,5,Cowboy Bebop: Tengoku no Tobira,カウボーイビバップ 天国の扉,Movie,"Action, Drama, Mystery, Sci-Fi, Space","['Sunrise', 'Bandai Visual']",['Bones'],"other day, another bounty—such is the life of ...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."
2,6,Trigun,トライガン,TV,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",['Victor Entertainment'],['Madhouse'],"Vash the Stampede is the man with a $$60,000,0...","['OnosakaMasaya', 'HayamiShow', 'YukinoSatsuki..."
3,7,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,"Action, Mystery, Police, Supernatural, Drama, ...",['Bandai Visual'],['Sunrise'],ches are individuals with special powers like ...,"['WatanabeAkeno', 'TakewakaTakuma', 'YuukiHiro..."
4,15,Eyeshield 21,アイシールド21,TV,"Action, Sports, Comedy, Shounen","['TV Tokyo', 'Nihon Ad Systems', 'TV Tokyo Mus...",['Studio Gallop'],Sena is like any other shy kid starting high s...,"['TamuraAtsushi', 'IrinoMiyu', 'NaganoKouichi'..."
...,...,...,...,...,...,...,...,...,...
3712,39031,B Rappers Street,Bラッパーズ ストリート,TV,"Music, Comedy","['Sony Music Communications', 'Sony Music Ente...",['Pie in the sky'],multimedia project collaboration between Shoga...,"['KimuraSubaru', 'HondoKaede', 'NakashimaTakuy..."
3713,39175,Cider no You ni Kotoba ga Wakiagaru,サイダーのように言葉が湧き上がる,Movie,Music,['flying DOG'],"['Signal.MD', 'Sublimation']","The visual features the tagline, ""I met you in...","['IchikawaSomegorou', 'SugisakiHana', 'Nakajim..."
3714,39456,Sounan Desu ka?,ソウナンですか?,TV,"Adventure, Comedy, Seinen",['Nihon Ad Systems'],['Ezόla'],"fter a school trip goes terribly wrong, Homare...","['IchimichiMao', 'YasunoKiyono', 'KounoHiyori'..."
3715,39527,Try Knights,トライナイツ,TV,"Sports, School, Josei",['Nippon Television Network'],['Gonzo'],ku Haruma enters high school without a future ...,"['SakamotoShougo', 'SatouTakuya', 'KENN', 'Mor..."
3716,39938,Inu-Ou,犬王,Movie,"Fantasy, Historical, Music",['Asmik Ace'],['Science SARU'],Inu-Oh is born with unique physical characteri...,"['Avu-chan', 'MoriyamaMirai']"

In [39]:
anime = anime.rename(columns={'Voice Actors': 'voice_actors'})
anime = anime[anime.voice_actors != '[]']

In [40]:
anime.shape

(3519, 10)

In [41]:
anime.sample(1)

,Unnamed: 0,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis,voice_actors
335,439,467,Koukaku Kidoutai: Stand Alone Complex,攻殻機動隊 STAND ALONE COMPLEX,TV,"Action, Military, Sci-Fi, Police, Mecha, Seinen","['Bandai Visual', 'Dentsu', 'Victor Entertainm...",['Production I.G'],"In the not so distant future, mankind has adva...","['TanakaAtsuko', 'OotsukaAkio', 'YamaderaKouic..."

In [42]:
anime = anime.drop("Unnamed: 0",axis=1)

In [43]:
anime

,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis,voice_actors
0,1,Cowboy Bebop,カウボーイビバップ,TV,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",['Bandai Visual'],['Sunrise'],"In the year 2071, humanity has colonized sever...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."
1,5,Cowboy Bebop: Tengoku no Tobira,カウボーイビバップ 天国の扉,Movie,"Action, Drama, Mystery, Sci-Fi, Space","['Sunrise', 'Bandai Visual']",['Bones'],"other day, another bounty—such is the life of ...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."
2,6,Trigun,トライガン,TV,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",['Victor Entertainment'],['Madhouse'],"Vash the Stampede is the man with a $$60,000,0...","['OnosakaMasaya', 'HayamiShow', 'YukinoSatsuki..."
3,7,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,"Action, Mystery, Police, Supernatural, Drama, ...",['Bandai Visual'],['Sunrise'],ches are individuals with special powers like ...,"['WatanabeAkeno', 'TakewakaTakuma', 'YuukiHiro..."
4,15,Eyeshield 21,アイシールド21,TV,"Action, Sports, Comedy, Shounen","['TV Tokyo', 'Nihon Ad Systems', 'TV Tokyo Mus...",['Studio Gallop'],Sena is like any other shy kid starting high s...,"['TamuraAtsushi', 'IrinoMiyu', 'NaganoKouichi'..."
...,...,...,...,...,...,...,...,...,...
3712,39031,B Rappers Street,Bラッパーズ ストリート,TV,"Music, Comedy","['Sony Music Communications', 'Sony Music Ente...",['Pie in the sky'],multimedia project collaboration between Shoga...,"['KimuraSubaru', 'HondoKaede', 'NakashimaTakuy..."
3713,39175,Cider no You ni Kotoba ga Wakiagaru,サイダーのように言葉が湧き上がる,Movie,Music,['flying DOG'],"['Signal.MD', 'Sublimation']","The visual features the tagline, ""I met you in...","['IchikawaSomegorou', 'SugisakiHana', 'Nakajim..."
3714,39456,Sounan Desu ka?,ソウナンですか?,TV,"Adventure, Comedy, Seinen",['Nihon Ad Systems'],['Ezόla'],"fter a school trip goes terribly wrong, Homare...","['IchimichiMao', 'YasunoKiyono', 'KounoHiyori'..."
3715,39527,Try Knights,トライナイツ,TV,"Sports, School, Josei",['Nippon Television Network'],['Gonzo'],ku Haruma enters high school without a future ...,"['SakamotoShougo', 'SatouTakuya', 'KENN', 'Mor..."
3716,39938,Inu-Ou,犬王,Movie,"Fantasy, Historical, Music",['Asmik Ace'],['Science SARU'],Inu-Oh is born with unique physical characteri...,"['Avu-chan', 'MoriyamaMirai']"

In [44]:
anime.sample(1)

,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis,voice_actors
695,1224,Aquarian Age: Sign for Evolution,アクエリアンエイジ Sign for Evolution,TV,"Action, Sci-Fi, Adventure, Music, Super Power,...",['Broccoli'],['Madhouse'],Five supernatural factions have been fighting ...,"['TanakaNobuyuki', 'AokiMayuko', 'NishimuraChi..."

In [45]:
anime.shape

(3519, 9)

In [46]:
def extract_features(obj):
    li_of_features = []
    li_of_features.append(obj)
    return li_of_features
anime['Type'] = anime['Type'].apply(extract_features)

In [47]:
anime.sample(1)

,MAL_ID,Name_x,Japanese name,Type,Genres_x,Producer,Studio,sypnopsis,voice_actors
1369,3095,Sono Kinisasete yo: My My Mai,その気にさせてよ myマイ舞,[OVA],"Ecchi, Comedy, Supernatural",['AC Create'],['J.C.Staff'],ai's a super counselor with blazing sex appeal...,"['YajimaAkiko', 'MitsuishiKotono']"

# iii) Let's deal with the 'Name_x' and 'Japanese names' column. We'll combine them into a single column

In [48]:
anime.columns

Index(['MAL_ID', 'Name_x', 'Japanese name', 'Type', 'Genres_x', 'Producer',
       'Studio', 'sypnopsis', 'voice_actors'],
      dtype='object')

In [49]:
anime['Name'] = anime['Name_x']+anime['Japanese name']
anime=anime[['MAL_ID','Name','Type','Genres_x','Producer','Studio','sypnopsis','voice_actors']]
anime.head(1)

,MAL_ID,Name,Type,Genres_x,Producer,Studio,sypnopsis,voice_actors
0,1,Cowboy Bebopカウボーイビバップ,[TV],"Action, Adventure, Comedy, Drama, Sci-Fi, Space",['Bandai Visual'],['Sunrise'],"In the year 2071, humanity has colonized sever...","['YamaderaKouichi', 'HayashibaraMegumi', 'Tada..."

# iv) Let's deal with Genres_x column

In [50]:
anime = anime.rename(columns={'Genres_x': 'Genres','sypnopsis':'Synopsis'})
anime.sample(1)

,MAL_ID,Name,Type,Genres,Producer,Studio,Synopsis,voice_actors
3332,33337,ACCA: 13-ku Kansatsu-kaACCA 13区監察課,[TV],"Mystery, Police, Drama, Fantasy, Seinen","['Bandai Visual', 'Square Enix', 'Lantis', 'Ni...",['Madhouse'],CCA—a national body of the kingdom of Dowa tha...,"['ShimonoHiro', 'TsudaKenjirou', 'TanakaAtsuko..."

In [51]:
anime['Genres'].dtypes

dtype('O')

In [52]:
def extract_features_2(obj):
    obj = obj.replace(" ", "").split(",")
    return obj
anime['Genres']=anime['Genres'].apply(extract_features_2)

In [53]:
anime.sample(1)

,MAL_ID,Name,Type,Genres,Producer,Studio,Synopsis,voice_actors
746,1357,Shin Hokuto no Ken新・北斗の拳,[OVA],"[Action, MartialArts, Sci-Fi, Shounen]","['OB Planning', 'Kitty Films', 'Sega']",['A.C.G.T.'],"In a post-apocalyptic Earth, the water has bec...","['KoyasuTakehito', 'TanakaHideyuki', 'GACKT', ..."

# v) Let's deal with Producer, Studio columns

In [54]:
type(anime['Producer'][0])

str

In [55]:
type(anime['Genres'][0])

list

In [56]:
type(anime['voice_actors'][0])

str

In [57]:
def extract_features_3(obj):
    obj = obj.replace('[','').replace(']','').replace("'","").split(",")
    return obj

anime['Producer'] = anime['Producer'].apply(extract_features_3)
anime['Studio'] = anime['Studio'].apply(extract_features_3)
anime['voice_actors'] = anime['voice_actors'].apply(extract_features_3)

In [58]:
anime.sample(1)

,MAL_ID,Name,Type,Genres,Producer,Studio,Synopsis,voice_actors
2392,16782,Kotonoha no Niwa言の葉の庭,[Movie],"[SliceofLife, Psychological, Drama, Romance]","[The Answer Studio, TOHO animation]",[CoMix Wave Films],"On a rainy morning in Tokyo, Takao Akizuki, an...","[HanazawaKana, IrinoMiyu, KomatsuMikako, In..."

# vi) Finally, let's deal with Synopsis column

In [59]:
anime['Synopsis'].apply(lambda x: x.split())

0       [In, the, year, 2071,, humanity, has, colonize...
1       [other, day,, another, bounty—such, is, the, l...
2       [Vash, the, Stampede, is, the, man, with, a, $...
3       [ches, are, individuals, with, special, powers...
4       [Sena, is, like, any, other, shy, kid, startin...
                              ...
3712    [multimedia, project, collaboration, between, ...
3713    [The, visual, features, the, tagline,, "I, met...
3714    [fter, a, school, trip, goes, terribly, wrong,...
3715    [ku, Haruma, enters, high, school, without, a,...
3716    [Inu-Oh, is, born, with, unique, physical, cha...
Name: Synopsis, Length: 3519, dtype: object

In [60]:
anime['Synopsis']=anime['Synopsis'].apply(lambda x: x.split())

In [61]:
anime.sample(1)

,MAL_ID,Name,Type,Genres,Producer,Studio,Synopsis,voice_actors
770,1456,L/R: Licensed by RoyalL/R -Licensed by Royal-,[TV],"[Action, Adventure, Police, Mystery]","[Victor Entertainment, Fuji TV, Pioneer LDC]",[TNK],"[Jack, Hofner, and, Rowe, Rikenbacker, are, Cl...","[HirataHiroaki, UedaYuuji, KoyamaRikiya, To..."

# Let's remove any remaing whitespaces for type,genres,producer,studio,synopsis and voice_actors columns

In [62]:
anime['Type'] = anime['Type'].apply(lambda x: [i.replace(" ","") for i in x])
anime['Genres'] = anime['Genres'].apply(lambda x: [i.replace(" ","") for i in x])
anime['Producer'] = anime['Producer'].apply(lambda x: [i.replace(" ","") for i in x])
anime['Studio'] = anime['Studio'].apply(lambda x: [i.replace(" ","") for i in x])
anime['Synopsis'] = anime['Synopsis'].apply(lambda x: [i.replace(" ","") for i in x])
anime['voice_actors'] = anime['voice_actors'].apply(lambda x: [i.replace(" ","") for i in x])

# Let's create a tags column which contains type,genres,producer,studio,synopsis and voice_actors

In [63]:
anime['tags'] = anime['Type'] + anime['Genres'] + anime['Producer'] + anime['Studio'] + anime['Synopsis']+ anime['voice_actors']
anime.sample(1)

,MAL_ID,Name,Type,Genres,Producer,Studio,Synopsis,voice_actors,tags
248,324,Kidou Keisatsu Patlabor: On Television機動警察パトレイ...,[TV],"[Comedy, Mecha, Police, Sci-Fi]",[TohokushinshaFilmCorporation],[Sunrise],"[In, the, future,, advanced, robotics, has, cr...","[TominagaMiina, FurukawaToshio, IkemizuMichihi...","[TV, Comedy, Mecha, Police, Sci-Fi, Tohokushin..."

In [64]:
anime['tags'].sample(1)

2227    [OVA, Comedy, ShoujoAi, Aniplex, ufotable, Nao...
Name: tags, dtype: object

In [65]:
anime=anime[['MAL_ID','Name','tags']]

In [66]:
anime.sample(1)

,MAL_ID,Name,tags
968,1883,Kappa no Kaikataカッパの飼い方,"[TV, Comedy, NihonAdSystems, PictureMagic, oun..."

In [67]:
#here, we convert the datatype of column 'tags' to string;
anime['tags'] = anime['tags'].apply(lambda x: " ".join(x))

In [68]:
anime['tags'] = anime['tags'].apply(lambda x: x.lower())

In [69]:
anime['tags'][0]

'tv action adventure comedy drama sci-fi space bandaivisual sunrise in the year 2071, humanity has colonized several of the planets and moons of the solar system leaving the now uninhabitable surface of planet earth behind. the inter solar system police attempts to keep peace in the galaxy, aided in part by outlaw bounty hunters, referred to as "cowboys." the ragtag team aboard the spaceship bebop are two such individuals. mellow and carefree spike spiegel is balanced by his boisterous, pragmatic partner jet black as the pair makes a living chasing bounties and collecting rewards. thrown off course by the addition of new members that they meet in their travels—ein, a genetically engineered, highly intelligent welsh corgi; femme fatale faye valentine, an enigmatic trickster with memory loss; and the strange computer whiz kid edward wong—the crew embarks on thrilling adventures that unravel each member\'s dark and mysterious past little by little. well-balanced with high density action and light-hearted comedy, cowboy bebop is a space western classic and an homage to the smooth and improvised music it is named after. yamaderakouichi hayashibaramegumi tadaaoi ishizukaunshou yamaderakouichi wakamotonorio horiuchikenyuu ebaramasashi takashimagara gingabanjou'

# Thus, we have completed the preprocessing of our dataset. Let's proceeed with applying algorithms.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
cv.fit_transform(anime['tags']).toarray()

In [ ]:
cv.fit_transform(anime['tags']).shape

In [ ]:
cv.get_feature_names()

# We can observe that some words have their plurals as seperate features, to avoid this we need to perform stemming.

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    l = []
    for word in text.split():
        l.append(ps.stem(word))
    return " ".join(l)

In [ ]:
anime['tags'] =anime['tags'].apply(stem)

# Now, we can continue with count vectorization

In [ ]:
vectors = cv.fit_transform(anime['tags']).toarray()  
vectors[0]

In [ ]:
cv.get_feature_names()

# We need to find cosine similarity for vectors representing anime_titles (array of arrays)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity.shape

In [ ]:
similarity[0] #This array represents the similarity of 1st anime wrt to all other animes in our dataset

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1]) [1:6]

In [ ]:
def recommend_anime(anime_title):
    anime_index = anime[anime['Name']==anime_title].index[0]
    distances = similarity[anime_index]
    anime_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in anime_list:
        print(i[0])

In [ ]:
# recommend_anime('')
anime['Name']

In [ ]:
recommend_anime('Cowboy Bebopカウボーイビバップ')

# Final function for our recommendation system

In [ ]:
def recommend_anime(anime_title):
    anime_index = anime[anime['Name']==anime_title].index[0]
    distances = similarity[anime_index]
    anime_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for anime_title in anime_list:
        print(anime.iloc[anime_title[0]].Name)

In [ ]:
recommend_anime('Cowboy Bebopカウボーイビバップ')

In [ ]:
recommend_anime('Waga Seishun no Arcadia: Mugen Kidou SSXわが青春のアルカディア・無限軌道ＳＳＸ')

In [ ]:
anime.sample(4)

In [ ]:
import pickle
pickle.dump(anime,open('anime_list.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))